.show-container{
    display:grid;
    grid-template-columns: auto ;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
    background-color: #1c1c1c;
}

@media (min-width:1045px) {
    .show-container{
        grid-template-columns: repeat(4,15rem);
    }
}
@media (min-width:768px) and (max-width:1044px){
    .show-container{
        grid-template-columns: repeat(3,15rem);
        grid-template-columns: auto auto auto;
    }
}
@media (min-width:425px )and ( max-width:767px){
    .show-container{
        grid-template-columns: auto auto;
    }
}
